{{ define "main" }}
<div class="flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col items-center justify-center">
        <img src="{{ "img/banner.svg" | relURL }}" alt="banner" class="w-4/5 md:w-4/5" />
        <h1 class="text-xl tracking-wide -my-6 ml-28 md:-my-14 md:text-5xl md:ml-64">Au<span class="text-main">thenti</span>cate Everything</h1>
    </div>
</div>
<div class="flex items-center justify-center min-h-screen bg-white py-48">
    <div class="flex flex-col">
        <div class="flex flex-col mt-8">
            <div class="container max-w-7xl px-4">
                <div class="flex flex-wrap justify-center text-center mb-24">
                    <div class="w-full lg:w-6/12 px-4">
                        <h1 class="text-gray-900 text-4xl font-bold mb-8">
                            Meet the Team
                        </h1>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col">
                            <!-- Avatar -->
                            <a href="#" class="mx-auto">
                                <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=H5xFCoUAAAAJ&citpid=13">
                            </a>
                        </div>
                        <div class="text-center mt-6">
                            <h1 class="text-gray-900 text-xl font-bold mb-1">
                                Dr. Martín Ochoa
                            </h1>
                            <div class="text-gray-700 font-light mb-1">
                                Chief Executive Officer
                            </div>
                            <div class="text-blue-700 font-light">
                                martin.ochoa@thenti.ch
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col">
                            <!-- Avatar -->
                            <a href="#" class="mx-auto">
                                <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=boGJrIYAAAAJ&citpid=1">
                            </a>
                        </div>
                        <div class="text-center mt-6">
                            <h1 class="text-gray-900 text-xl font-bold mb-1">
                                Dr. Juan Guarnizo
                            </h1>
                            <div class="text-gray-700 font-light mb-1">
                                Chief Technology Officer
                            </div>
                            <div class="text-blue-700 font-light">
                                juan.guarnizo@thenti.ch
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col">
                            <!-- Avatar -->
                            <a href="#" class="mx-auto">
                                <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=KqAy5mQAAAAJ&citpid=2">
                            </a>
                        </div>
                        <div class="text-center mt-6">
                            <h1 class="text-gray-900 text-xl font-bold mb-1">
                                Jesús Solano
                            </h1>
                            <div class="text-gray-700 font-light mb-1">
                                Chief Innovation Officer
                            </div>
                            <div class="text-blue-700 font-light">
                                jesus.solano@thenti.ch
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col">
                            <!-- Avatar -->
                            <a href="#" class="mx-auto">
                                <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=-BA-kHYAAAAJ&citpid=7">
                            </a>
                        </div>
                        <div class="text-center mt-6">
                            <h1 class="text-gray-900 text-xl font-bold mb-1">
                                David Basin
                            </h1>
                            <div class="text-gray-700 font-light mb-1">
                                Co-Founder
                            </div>
                            <div class="text-blue-700 font-light">
                                david.basin@thenti.ch
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}